# cache and stuff
*/__pycache__/*
__pycache__/*

# video file extensions stolen off of wikipedia lol
/static/video/*.mp4
/static/video/*.mov
/static/video/*.webm
/static/video/*.mkv
/static/video/*.flv
/static/video/*.vob
/static/video/*.ogv
/static/video/*.ogg
/static/video/*.drc
/static/video/*.gif
/static/video/*.gifv
/static/video/*.mng
/static/video/*.avi
/static/video/*.avi
/static/video/*.wmv
/static/video/*.octet-stream

# image files
/static/video/*jpg
/static/video/*jpeg
/static/video/*jfif
/static/video/*exif
/static/video/*tiff
/static/video/*gif
/static/video/*bmp
/static/video/*png
/static/video/*webp
/static/video/*heif
/static/video/*heic

# environment
.env

# qrcodes
static/qrcode/*

#audio files
classification/*.wav