:root {
    --htv-light-green: #1eaa54;
    --htv-green: #72c55d;
    --htv-dark-green: #3f573d;
    --htv-black: #191820;
    --htv-white: #ffffff;
    --htv-dark-purple: #272532;
}

body, * {
    color: var(--htv-white);
    font-family: "Source Code Pro", sans-serif;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--htv-dark-purple);
}

button {
    cursor: pointer;
    transition: 0.2s ease;
}

li:has(.tag) {
    transition: 0.1s ease
}

li:has(.tag):hover {
    scale: 0.95;
    filter: brightness(0.9);
}


button:hover {
    scale: 0.9;
    filter: brightness(0.9);
}

.search-submit-button {
    font-size: 0.9rem;
}

.content input {
    color: var(--htv-white);
    background-color: var(--htv-black);
}

input, button {
    color: var(--htv-white);
    background-color: var(--htv-dark-purple);
    outline: none;
    border: none;
}

input[name=query]:focus-visible {
    border: none !important;
    outline: none;
}

video {
    width: 100%;
}

.content {
    background-color: var(--htv-dark-purple);
    top: 80px;
    left: 200px;
    position: absolute;
    display: inline-block;
    width: calc(100% - 200px);
    overflow: visible;
    padding-bottom: 40px;
}

.video-inner {
    margin-left: 10%;
    /* margin: auto; */
    width: 70%;
}

/* header */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--htv-black);
    opacity: 0.95;
    transition: 0.2s ease-in-out;
}

.header:focus-within {
    opacity: 1;
}

.header-inner {
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 70%;
    margin-left: 20px;
}

.logo-img {
    height: 90%;
}

input, .upload-button {
    font-size: 18px;
}

.search-bar {
    display: block;
    width: 40vw;
}

input:focus, button {
    border: none !important;
}

.search-bar > input, button {
    min-height: 45px;
    border-radius: 12px;
    padding: 3px 12px;
}

.search-bar > input[name="query"] {
    width: 60%;
}

/* navbar */
.navbar {
    background-color: var(--htv-black);
    height: 100vh;
    width: 200px;
    top: 80px;
    left: 0;
    position: fixed;
    z-index: 999;
}

.navbar > nav {
    margin-left: 10px;
}

/* Video tiles */
.video-grid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr [col-start]);
    margin: 10px;
}

.video-tile {
    margin: 10px;
    padding: 0 6%;
    background-color: var(--htv-black);
    border-radius: 12px;
}

.video-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thumbnail-wrapper {
    aspect-ratio: 16 / 9;
    position: relative;
}

.thumbnail-img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.video-length {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--htv-black);
    margin: 0 7px 7px 0;
    padding: 3px;
}

.metadata-wrapper {
    position: relative;
    height: 100px;
    overflow-x: hidden;
}

.video-tile {
    text-decoration: none !important;
}

.video-author {
    position: absolute;
    top: 0;
    left: 0;
}

.video-date {
    position: absolute;
    top: 0;
    right: 0;
}

.upload-button {
    margin-right: 20px;
}

.video-wrapper {
    margin: auto;
    width: 100%;
    
}

/* three column */
@media only screen and (max-width: 1100px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr [col-start]);
    }
} 

/* two column */
@media only screen and (max-width: 900px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr [col-start]);
    }

    .video-inner {
        width: 94%;
        margin: 3%;
    }
}

/* one column */
@media only screen and (max-width: 560px) {
    .video-grid {
        grid-template-columns: repeat(1, 1fr [col-start]);
    }
} 

.tag {
    background-color: var(--htv-dark-green);
    text-decoration: none;
}

.navbar li:has(.tag) {
    background-color: var(--htv-dark-green);
    padding: 10px;
    border-radius: 10px;
    margin: 15px 40px 15px 20px;
}

.transcript {
    padding: 10px;
    background-color: var(--htv-dark-green);
}

.navbar .tag {
    display: block !important;
    text-align: center;
    margin: auto;
}

.tags {
    height: fit-content;
}

.tags li {
    display: inline-block;
}


.tags .tag {
    border-radius: 12px;
    padding: 12px 18px;
    margin-right: 15px;
    text-align: center;
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--htv-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--htv-dark-purple);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--htv-dark-purple);
}

.odd-shade {
    background-color: var(--htv-black);
    padding: 10px;
}

.even-shade {
    padding: 10px;
}

.thumbnail-preview-container {
    width:100%;
    height:100%;
}

.thumbnail-preview-wrapper {
    width: 60%;
    aspect-ratio: 16/9;

   margin-left: auto;
    margin-right: auto; 
    object-fit: contain;

    background-color: #1f1e29;
}

.thumbnail-input-container {
    padding-top:20px;
}

.thumbnail-input-wrapper {
    width:60%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#upload-input {
    width: auto;
}