:root {
    --htv-light-green: #1eaa54;
    --htv-green: #72c55d;
    --htv-dark-green: #3f573d;
    --htv-black: #191820;
    --htv-white: #ffffff;
}

body, * {
    background-color: var(--htv-black);
    color: var(--htv-white);
    font-family: "Source Code Pro", sans-serif;
}