<div class="header">
    <div class="header-inner">
        <div class="logo">
            <a href="/">
                <img class="logo-img" src="{{ url_for('static', filename='assets/logolong.png') }}">
            </a>
        </div>
        <form class="search-bar" action="/search" method="get">
            <input type="text" placeholder="Search" name="query">
            <input type="submit" value="???">
        </form>
        <a href="/upload">
            <button class="upload-button">Upload</button>
        </a>
    </div>
</div>