{% set tags = ["No Audio", "Animals", "Environment", "Global Warming", "Plants", "Renewable Energy", "Weather"] %}
<aside class="navbar">
    <nav>
        <ul>
            <li><b>Tags:</b></li>
            {% for tag in tags %}
            <li><a class="tag" href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <div class="set-bottom">
            <a href="https://github.com/Previouslynamedjeff/dubeTube">
                <img class="github_icon" src="{{ url_for('static', filename='github_icon.png') }}"></img>
            </a>
        </div>
    </nav>
</aside>
