<!DOCTYPE html>
<head>
    <title>DubeTube | {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'includes/header.html' %}
    {% include 'includes/navbar.html' %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>