{% extends "default.html" %}
{% block title %}Upload Video{% endblock %}
{% block content %}
<div class="thumbnail-preview-container">
    <div class="thumbnail-preview-wrapper">
        <img class="thumbnail-preview">
    </div>
</div>
<div class="thumbnail-input-container">
    <form action="/video_upload" method="POST" enctype="multipart/form-data">
        <div class="thumbnail-input-wrapper">
            <input type="file" name="video-upload" accept="video/*">
            <input type="file" name="thumbnail-upload" accept="image/*">
        </div>
        <br>
        Title: <input type="text" name="title" id="upload-input">
        <br>
        Author: <input type="text" name="author" id="upload-input">
        <br>
        <input type="submit" value="Upload">
        </form>
</div>
{% endblock %}